{% extends 'default.html' %} 
{% load custom_filters %}
{% block title %}
News
{% endblock title %}
 
{% block content %}
 <h1>Все новости</h1>

{% for post in posts %}
      <ul>
        <li>
          Заголовок: {{ post.title|censor }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>{{ post.text|censor }}</p>
<a href="{% url 'news:post_detail' post.id %}">подробная информация </a><br>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

{% endblock content %}