{% extends 'default.html' %} 
{% load custom_filters %}
{% block title %}
News
{% endblock title %}
 
{% block content %}
 <h1>Все новости</h1>

{% for post in posts %}
      <ul>
        <li>
          Заголовок: {{ post.title|censor }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>{{ post.text|censor }}</p>
<a href="{% url 'news:post_detail' post.id %}">подробная информация </a><br>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

   {# Добавляем пагинацию на страницу #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}